# Node/React/Next
node_modules/
.cache/
dist/
build/
.next/
coverage/
.tmp/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env & secrets
.env
.env.local
.env.*.local
*.key
*.pem

# OS/editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Misc
*.log
